
/* Стили для корзины */
.cart-icon-container {
    display: block;
    position: fixed;
    top: 15%;
    right: 2%;
    text-align: center;
    border-radius: 24px;
    background-color: #00FF77;
    transition: all .3s;
}
.cart-icon-container:hover {
    background-color: #000;
}

.cart-icon {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.4rem;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #000;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.75rem;
    display: none;
    transition: all .3s;
}
.cart-icon-container:hover .cart-badge {
    background-color: #00FF77;
}

/* Элементы корзины */
.cart-item {
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #000;
    transition: border 0.2s;
    gap: 12px;
}
.cart-item:hover {
    border-bottom: 1px solid #00FF77;
}

.cart-item-image img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
}

.cart-item-info {
    flex-grow: 1;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.quantity-btn,
.remove-button {
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item-quantity input {
    padding: 5px;
}


/* Кнопки модального окна */
.modal-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-success {
    background-color: #28a745;
    color: white;
    width: 100%;
    margin-top: 20px;
    padding: 15px;
}

@media (max-width: 768px) {
    .cart-item {
        flex-direction: column;
        text-align: center;
    }
    
    .cart-item-total {
        text-align: center;
    }
    
    .modal-buttons {
        flex-direction: column;
    }
    .cart-icon-container {
        top: 3%;
        right: 3%;
    }
}


.cart-item-price,
.cart-summary-total,
.cart-item-sum,
.cart-total {
    display: none;
} 