/* Стили для страницы */
body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 24px;
    color: #000;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin-bottom: 28px;
    border-bottom: 1px solid #000;
}

footer {
    margin-top: 100px;
    border-top: 1px solid #000;
}

main {
    padding: 0 5px;
    flex: 1;
}

h1 {
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

h2 {
    font-size: 28px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

p {
    margin: 0;
    margin-bottom: 2px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 2px 0;
}

ul li::before {
    content: '—'; /* Иконка или текст */
    margin-right: 10px; /* Отступ справа */
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li::before {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Стили для ссылок */
a {
    color: #000;
    text-decoration: none;
}
a:hover, a:focus {
    color: #000;
    text-decoration: none;
}
a:active {
    color: #00FF77;
}

footer a,
header a {
    font-size: 20px;
}

/* Стили для кнопок */
button {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 24px;
    color: #000;
    padding: 16px 50px;
    border: 1px solid #000;
    background-color: #fff;
    transition: background-color 0.3s, color 0.2s, border 0.5s;
}
button:hover,
button:focus {
    border-radius: 50px;
    border-color: #00FF77;
    cursor: pointer;
}
button:active {
    border-radius: 50px;
    color: #fff;
    border-color: #00FF77;
    background-color: #00FF77;
}


/* Базовый стиль колонок */

.d-none {
    display: none;
}
.d-flex {
    display: flex;
}
.t-align-center {
    text-align: center;
}

/*Модальное окно*/
/* формируем фон для модального окна */
.modal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    padding: 20px;
    background-color: rgba(0,0,0,0.25);
  }
  
  /* само модальное окно с контентом */
  .modal-content {
    background-color: #fff;
    padding: 40px 115px 80px;
    width: 50%; 
    font-size: 20px;
    max-width: 670px;
    /* разнесем текст и кнопоку по краям окна */
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-sizing: border-box;
   }
   
  .modal-close {
    cursor: pointer;
    align-self: center;
  }

/*Формы на сайте*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}
label {
    display: none;
}
input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
    padding-bottom: 14px;
    font-size: 24px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
input:hover {
    box-shadow: 6px 6px 8px rgba(0, 0, 0, .15);;
}
input:focus,
input:active {
    border-bottom: 1px solid #00FF77;
}
form [type='submit'] {
    margin-top: 40px;
}
form .group-item {
    width: 100%;
}

/* Стили сайта*/
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.back-button {
    margin-top: 55px;
}
.product-main {
    margin-top: 50px;
    margin-bottom: 65px;
}
.product-image {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, .15);;
}
.product-characteristic {
    list-style-type: none;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 12px;
}
.product-characteristic .label {
    font-weight: 500;
}
.product-characteristic .value {
}
.product-characteristic li::before {
    display: none;
}

.contact-block a {
    display: block;
}
.contact-block h3 {
    font-size: 24px;
}
.contact-mail {
    margin-top: 28px;
}
.our-partner {
    margin-top: 42px;
}

.market-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.market-list h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 45px;
}

.section-main {
    margin-bottom: 142px;
}


.section-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-item {
    display: grid;
    align-items: center;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, .15);;
}

.product-hits-title {
    grid-column: span 4;
}

.product-item .product-image {
    border: none;
    box-shadow:none;
}

.product-item .product-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-top: 1px solid #000;
    border-color: inherit;
}

.product-hits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 100px;
}

.add-to-cart {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

@media screen and (min-width: 576px) {
    .our-partner {
        margin-top: 130px;
    }

    .add-to-cart {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}
}